@model Cesgranrio.CorretorDeProvas.Web.Models.QuestaoVM

@using X.PagedList.Mvc
@{
    ViewBag.Title = "Questões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Lista.Count > 0)
{

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="col-md-10">
                    <h4 class="title">Lista de questões</h4>
                    <p class="category">Abaixo está a lista de questões cadastradas pelo elaborador</p>
                </div>
                <div class="col-md-2 adicionar">
                    @Html.ActionLink("Adicionar", "Adicionar", "Questao", null, htmlAttributes: new { @class = "btn btn-primary", @title = "Adicionar uma nova questão" })
                </div>
            </div>
            
            <div class="table-responsive table-full-width">

                <span id="tabelaQuestoes">
                    @Html.Partial("_QuestoesPartialView", Model)
                </span>

            </div>
        </div>
    </div>
</div>
}//count
else
{
    ViewData["Mensagem"]= "Nenhuma questão foi criada pelo elaborador.";
    Html.Partial("_SemRegistros", ViewData);
}
