
@{
    ViewBag.Title = "SimularRespostas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="col-md-12">
                    <h4 class="title">Simulador de respostas</h4>
                    <p class="category">Você precisa executar um programa à parte para simular as respostas dos candidatos</p>
                    <p>
                        Antes de executar este programa verifique junto ao suporte se você já possui instalado o <a href="https://www.microsoft.com/pt-br/download/details.aspx?id=49982">.NET Framework 4.6.1</a>.
                    </p>
                    <p>
                        <input type="submit" value="Baixar simulador" class="btn btn-primary btn-lg mb" title="Baixar simulador para gerar respostas"/>

                    </p>
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
