
<br />
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Raw(ViewData["Mensagem"])
    </div>
</div>
<style>
    .table-responsive {
        border: none;
        overflow: hidden
    }
</style>