
@{
    ViewBag.Title = "Acesso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card-user alert radius purple fundo">
            <h4 class="title text-center">
                Acesso negado
            </h4>
            <br />
            <div class="image text-center img-rounded">
                <img id="jim" src="https://media.giphy.com/media/ZXIw1GQPMI7aU/giphy.gif" class="img-responsive img-rounded" />
            </div>
            <br />
            <div class="content text-center">
                <p>Para utilizar o sistema, informe suas credenciais na @Html.ActionLink("Página de acesso", "Login", "Usuario").</p>
            </div>
        </div>
    </div>
</div>