@model Cesgranrio.CorretorDeProvas.Web.Models.ErroVM

@{
    ViewBag.Title = "Falha na aplicação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">


        <div class="card-user alert radius purple fundo">
            <h4 class="title text-center">
                Falha na aplicação
            </h4>
            <br />


            <div class="image text-center img-rounded">

                <img id="jim" src="http://68.media.tumblr.com/4f7f34b34edb6c891649dcd0cce6c6fa/tumblr_inline_np89f67t7e1qf97xk_500.gif" class="img-responsive img-rounded" />
            </div>
            <br />
            <div class="content text-center">
                <p>
                    Opa! Ocorreu um problema durante o processamento de sua requisição.
                </p>
                <p>Por favor informe este problema para juniormayhe@gmail.com<br /> e retorne à @Html.ActionLink("Página inicial", "Lista", "Questao").</p>
                
                <p><strong>Erro:</strong> @Model.Erro</p>
                <p><strong>Descrição:</strong> @Model.Descrição</p>
            </div>
        </div>
    </div>
</div>
