
@{
    ViewBag.Title = "Requisição inválida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card-user alert radius purple fundo">
            <h4 class="title text-center">
                Requisição inválida
            </h4>
            <br />
            <div class="image text-center img-rounded">
                <img id="jim" src="https://media.giphy.com/media/o0vwzuFwCGAFO/giphy.gif" class="img-responsive img-rounded" />
            </div>
            <br />
            <div class="content text-center">
                <p>Você informou dados inválidos.<br />Retorne à @Html.ActionLink("Página inicial", "Lista", "Questao") e preencha corretamente os dados necessários.</p>
            </div>
        </div>
    </div>
</div>