
@{
    ViewBag.Title = "Requisição inválida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Os dados enviados são inválidos</h2>

<div class="row">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Prezado(a) usuário(a):</span>
        Você informou dados inválidos. Retorne à @Html.ActionLink("Página inicial", "Index", "Home") e preencha corretamente os dados necessários.
    </div>
</div>



